<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <title>{{SITE_NAME|safe}} | Verify your age!</title>
    </head>
    <body class="background">
        <h1 class="titleheader">{{SITE_NAME|safe}}</h1>
        <hr class="titleborder">
        <h2 class="titleheader">Please note that you must be 18+ to proceed!</h1>
        <form class="ageform" action="{{SITE_URL|safe}}/agevalidate" method="post">
            <input type="hidden" id="dest" name="dest" value={{DESTINATION}}>
            <input type="hidden" id="page" name="page" value={{PAGE}}>
            <input type="hidden" id="maxfiles" name="maxfiles" value={{MAXFILES}}>
            <input type="hidden" id="tags" name="tags" value="{{SEARCHTAGS|safe}}">
            <button class="ageformbutton" type="submit" formmethod="post">I am over 18 (Guest Login).</button>
        </form>
        <br>
        <hr class="titleborder">
        <h2 class="titleheader">Alternatively, you can sign in below:</h2>
        <form class="loginform" action="{{SITE_URL|safe}}/authenticate" method="post">
            <input type="hidden" id="dest" name="dest" value={{DESTINATION}}>
            <input type="hidden" id="page" name="page" value={{PAGE}}>
            <input type="hidden" id="maxfiles" name="maxfiles" value={{MAXFILES}}>
            <input type="hidden" id="tags" name="tags" value="{{SEARCHTAGS|safe}}">
            <label class="titleheader" for="uname">Username</label>
            <input class="loginfield" type="text" id="uname" name="uname">
            <br>
            <label class="titleheader" for="password">Password:</label>
            <input class="loginfield" type="password" id="password" name="password">
            <br>
            <br>
            <button class="loginsubmit" type="submit" formmethod="post">Submit</button>
        </form>
    </body>
</html>