<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
        <title>{{SITE_NAME}} | Tag Search</title>
    </head>
    <body class="background">
        <header>
            {{LOGIN_INFO|safe}}
            <hr class="headerborder">
        </header>
        <h1 class="hdrtext">Search by Tags</h1>
        <form class="searchform" action="https://{{SITE_URL|safe}}/browse/1" method="get">
            <input class="searchfield" type="text" id="tags" name="tags"><br>
            <br>
            <button class="searchsubmit" type="submit" formmethod="get">Search</button>
        </form>
    </body>
</html>