.background
{
    background-color: #3A3B3C;
}

.hdrtext
{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    color:#C7AE40;
}

.searchform
{
    text-align:center;
}

.searchfield
{
    color:#C7AE40;
    background-color:#3A3B3C;
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    border:solid 3px;
    border-radius:10px;
}

.formhr
{
    border:1px solid #C7AE40;
}

.searchsubmit
{
    border-color: #C7AE40;
    background-color:#3A3B3C;
    cursor:pointer;
    font-size:x-large;
    color:#C7AE40;
    border:solid 3px;
    border-radius:15px;
    font-family:Arial, Helvetica, sans-serif;
}

.headertxt
{
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    color:#c7ae40;
}

.headertxt a:link
{
    color:#C7AE40;
    background-color:transparent;
}

.headertxt a:hover
{
    color:#C7AE40;
    background-color:transparent;
}

.headertxt a:visited
{
    color:#C7AE40;
    background-color:transparent;
}

.headerborder
{
    border: 1px solid #c7ae40;
}